<div class="path-card" (click)="toggleActive()" [ngClass]="{'full': active, 'short': !active}" [ngStyle]="style">
  <div class="thumb"></div>
  <div class="content">
    <div class="identity">
      <span class="icon"></span>
      <div class="start">
        <span class="id">SDU</span>
        <label class="desc">Santos Dumont</label>
      </div>
      <span class="separator">&gt;</span>
      <div class="finish">
        <span class="id">BSB</span>
        <label class="desc">Juscelino Kubitsheck</label>
      </div>

      <div class="locator">
        <label>Localizador:</label>
        <span class="number">23443232</span>
      </div>
    </div>

    <div class="information">
      <div class="col-left service-id">
        <label>Vôo:</label>
        <span class="number">12345</span>
      </div>
      <div class="col-right service-seat">
        <label>Assento:</label>
        <span class="number">13B</span>
      </div>
    </div>

    <div class="date">
      <div class="col-left day">
        <label>Data:</label>
        <span class="number">01/06/2019</span>
      </div>
      <div class="col-right hour">
        <label>Horário:</label>
        <span class="number">16:12 hs</span>
      </div>
    </div>
  </div>
</div>
