@import '../assets/scss/_variables.scss';
.path-card {
    font-family: $font_family;
    align-items: center;
    border: 1px solid #ccc;
    display: flex;
    font-size: 1rem;
    max-width: 400px;
    padding: 10px;
    transition: background .3s ease-in-out;

    .thumb {
        $dimensions: 40px;
        background-color: #ccc;
        height: $dimensions;
        margin-right: 15px;
        width: $dimensions;
    }
    .content {
        width: calc(100% - 55px);
    }

    .identity {
        font-weight: 700;
        font-size: 1.2em;
        .icon {
            background-color: #ccc;
        }
    }
    label {
        font-weight: normal;
    }
    .information,
    .date {
        display: flex;
    }

    &.short {
        .identity {
            .icon {
                $dimensions: 15px;
                display: inline-block;
                height: $dimensions;
                margin-right: 5px;
                width: $dimensions;
            }
            .start, .separator, .finish, .locator { display: inline-block; white-space: nowrap; }
            .start, .separator, .finish { margin-right: .5em; }
            .finish:after {
                content: ' -';
            }

            .locator {
                transition: all 0s .3s ease-in-out;
                min-width: 10%;
                text-align: right;
            }
        }
        .service-id, .day {
            margin-right: .5em;
        }
        label {
            display: inline-block;
            font-size: 0rem;
            opacity: 0;
            transition: all .3s ease-in-out;
        }
    }

    &.full {
        * {
            transition: all .3s 0s ease-in-out;
        }
        label {
            display: block;
            font-size: .8rem;
            opacity: 1;
            // position: static;
        }
        .identity {
            display: grid;
            // font-size: 1.8em;
            grid-template-areas: 
                "start start icon finish finish"
                "locator locator locator locator locator";
            .icon, .start, .finish, .locator {display: block;}
            .icon {
                $dimensions: 20px;
                display: inline-block;
                grid-area: icon;
                height: $dimensions;
                margin: auto;
                width: $dimensions;
            }
            .start { grid-area: start; }
            .separator { display: none; }
            .finish {
                grid-area: finish;
                text-align: right;
            }
            .locator {
                grid-area: locator;
                align-items: baseline;
                display: grid;
                grid-template-columns: 1fr 1fr;
                min-width: 100%;
                .number {
                    text-align: right;
                }
            }
            .finish:after {
                display: none;
            }
        }
        
        .information,
        .date {
            justify-content: space-between;
            .col-right {
                text-align: right;
            }
        }
    }
}